<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.platform.jiaoyupeixun.mapper.JiaoyupeixunMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="jiaoyupeixunResultMap" type="org.springblade.platform.jiaoyupeixun.entity.Jiaoyupeixun">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="caozuoren" property="caozuoren"/>
        <result column="caozuorenid" property="caozuorenid"/>
        <result column="caozuoshijian" property="caozuoshijian"/>
        <result column="zhuti" property="zhuti"/>
        <result column="peixunleixing" property="peixunleixing"/>
        <result column="zuzhibumen" property="zuzhibumen"/>
        <result column="fuzeren" property="fuzeren"/>
        <result column="xuexixingshi" property="xuexixingshi"/>
        <result column="xuexiriqi" property="xuexiriqi"/>
        <result column="xueshi" property="xueshi"/>
        <result column="zhuchiren" property="zhuchiren"/>
        <result column="yingdaorenshu" property="yingdaorenshu"/>
        <result column="shidaorenshu" property="shidaorenshu"/>
        <result column="jihuakaishishijian" property="jihuakaishishijian"/>
        <result column="peixunfeiyong" property="peixunfeiyong"/>
        <result column="kaohedanwei" property="kaohedanwei"/>
        <result column="xuexineirong" property="xuexineirong"/>
        <result column="beizhu" property="beizhu"/>
        <result column="xuexizhaopian" property="xuexizhaopian"/>
        <result column="isdelete" property="isdelete"/>
        <result column="jihuaneirong" property="jihuaneirong"/>
        <result column="jihuashifouwancheng" property="jihuashifouwancheng"/>
    </resultMap>

    <select id="selectJiaoyupeixunPage" resultMap="jiaoyupeixunResultMap">
        select * from anbiao_jiaoyupeixun where is_deleted = 0
    </select>

    <update id="updateDel" parameterType="java.lang.String">
        UPDATE anbiao_jiaoyupeixun SET isdelete = 1 where id = #{id}
    </update>

    <insert id="insertJiaoYuPeiXun" parameterType="org.springblade.platform.jiaoyupeixun.entity.Jiaoyupeixun" >
        INSERT INTO anbiao_jiaoyupeixun
        (jihuakaishishijian,shidaorenshu,zuzhibumen,yingdaorenshu,caozuoren,dept_id,fuzeren,xueshi,caozuorenid,zhuchiren,zhuti,kaohedanwei,caozuoshijian,xuexineirong,peixunleixing,xuexizhaopian,beizhu,xuexixingshi,id,isdelete,peixunfeiyong,xuexiriqi,jihuashifouwancheng,jihuaneirong)
        VALUES
        (#{jihuakaishishijian},#{shidaorenshu},#{zuzhibumen},#{yingdaorenshu},#{caozuoren},#{deptId},#{fuzeren},#{xueshi},#{caozuorenid},#{zhuchiren},#{zhuti},#{kaohedanwei},#{caozuoshijian},#{xuexineirong},#{peixunleixing},#{xuexizhaopian},#{beizhu},#{xuexixingshi},#{id},#{isdelete},#{peixunfeiyong},#{xuexiriqi},#{jihuashifouwancheng},#{jihuaneirong})
    </insert>

    <sql id="tableSql">
        SELECT
        a.*,b.dept_name
        FROM
        anbiao_jiaoyupeixun a
        inner join  (
        <include refid="org.springblade.platform.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b
        on a.dept_id = b.id
        WHERE 1=1 and ifnull(a.isdelete,0) = 0

    </sql>

    <sql id="querySql">
        <if test="deptName !=null and deptName != ''">
            AND dept_name LIKE '%${deptName}%'
        </if>
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by caozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectPageList" parameterType="org.springblade.platform.jiaoyupeixun.page.JiaoyupeixunPage" resultType="org.springblade.platform.jiaoyupeixun.vo.JiaoyupeixunVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.platform.jiaoyupeixun.page.JiaoyupeixunPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <select id="selectByIds" parameterType="java.lang.String" resultType="org.springblade.platform.jiaoyupeixun.vo.JiaoyupeixunVO">
        SELECT
        a.*,b.dept_name
        FROM
        anbiao_jiaoyupeixun a
        inner join  blade_dept b
        on a.dept_id = b.id
        WHERE 1=1 and ifnull(a.isdelete ,0) = 0 and a.id=#{id}
    </select>
</mapper>
