<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.platform.cheliangguanli.mapper.CheliangrenyuanbangdingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="cheliangrenyuanbangdingResultMap" type="org.springblade.platform.cheliangguanli.entity.Cheliangrenyuanbangding">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="jiashiyuanid" property="jiashiyuanid"/>
        <result column="caozuoren" property="caozuoren"/>
        <result column="caozuorenid" property="caozuorenid"/>
        <result column="caozuoshijian" property="caozuoshijian"/>
        <result column="renyuanleixing" property="renyuanleixing"/>
        <result column="cheliangid" property="cheliangid"/>
        <result column="shifoudangban" property="shifoudangban"/>
        <result column="isdelete" property="isdelete"/>
    </resultMap>


    <select id="selectCheliangrenyuanbangdingPage" resultMap="cheliangrenyuanbangdingResultMap">
        select * from anbiao_cheliangrenyuanbangding where is_deleted = 0
    </select>

    <update id="updateDel" parameterType="java.lang.String">
        UPDATE anbiao_cheliangrenyuanbangding SET isdelete = 1 where id = #{id}
    </update>

    <sql id="tableSql">
        SELECT
        a.*, b.dept_name as deptName, c.cheliangpaizhao as cheliangpaizhao, d.jiashiyuanxingming as jiashiyuanxingming, c.chepaiyanse as chepaiyanse
        FROM
        anbiao_cheliangrenyuanbangding a
        inner join  (
        <include refid="org.springblade.platform.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b
        on a.dept_id = b.id and a.isdelete = 0 and  b.is_deleted = 0
        INNER JOIN anbiao_vehicle c on a.cheliangid = c.id
        INNER JOIN anbiao_jiashiyuan d on a.jiashiyuanid = d.id

    </sql>

    <sql id="querySql">
        <if test="deptName !=null and deptName != ''">
            AND deptName LIKE '%${deptName}%'
        </if>
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by caozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectPageList" parameterType="org.springblade.platform.cheliangguanli.page.CheliangrenyuanbangdingPage" resultType="org.springblade.platform.cheliangguanli.vo.CheliangrenyuanbangdingVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.platform.cheliangguanli.page.CheliangrenyuanbangdingPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <select id="selectByIds" parameterType="java.lang.String" resultType="org.springblade.platform.cheliangguanli.vo.CheliangrenyuanbangdingVO">
        SELECT
        a.*, b.dept_name as deptName, c.cheliangpaizhao as cheliangpaizhao, d.jiashiyuanxingming as jiashiyuanxingming, c.chepaiyanse as chepaiyanse
        FROM
        anbiao_cheliangrenyuanbangding a
        INNER JOIN blade_dept b ON a.dept_id = b.id and a.isdelete = 0 and  b.is_deleted = 0
        INNER JOIN anbiao_vehicle c on a.cheliangid = c.id
        INNER JOIN anbiao_jiashiyuan d on a.jiashiyuanid = d.id
        WHERE 1=1 and ifnull(a.isdelete ,0) = 0 and a.id=#{id}
    </select>
</mapper>
