<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.platform.cheliangguanli.mapper.VehicleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vehicleVOResultMap" type="org.springblade.platform.cheliangguanli.vo.VehicleVO">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="deptName" property="deptName"/>
        <result column="cheliangpaizhao" property="cheliangpaizhao"/>
        <result column="chepaiyanse" property="chepaiyanse"/>
        <result column="shiyongxingzhi" property="shiyongxingzhi"/>
        <result column="jiashiyuanid" property="jiashiyuanid"/>
        <result column="changpai" property="changpai"/>
        <result column="xinghao" property="xinghao"/>
        <result column="chejiahao" property="chejiahao"/>
        <result column="luntaiguige" property="luntaiguige"/>
        <result column="cheshenyanse" property="cheshenyanse"/>
        <result column="hedingzaike" property="hedingzaike"/>
        <result column="yingyunnianxian" property="yingyunnianxian"/>
        <result column="dengjizhengshubianhao" property="dengjizhengshubianhao"/>
        <result column="chelianglaiyuan" property="chelianglaiyuan"/>
        <result column="zhucedengjishijian" property="zhucedengjishijian"/>
        <result column="ruhushijian" property="ruhushijian"/>
        <result column="guohushijian" property="guohushijian"/>
        <result column="tuishishijian" property="tuishishijian"/>
        <result column="qiangzhibaofeishijian" property="qiangzhibaofeishijian"/>
        <result column="jieboyunshuzhenghao" property="jieboyunshuzhenghao"/>
        <result column="yuancheliangpaizhao" property="yuancheliangpaizhao"/>
        <result column="cheliangzhuangtai" property="cheliangzhuangtai"/>
        <result column="cheliangtingfangdiqu" property="cheliangtingfangdiqu"/>
        <result column="danganhao" property="danganhao"/>
        <result column="beiyongcheliang" property="beiyongcheliang"/>
        <result column="yunyingshang" property="yunyingshang"/>
        <result column="suoshuchedui" property="suoshuchedui"/>
        <result column="xingshifujian" property="xingshifujian"/>
        <result column="fujian" property="fujian"/>
        <result column="fadongjixinghao" property="fadongjixinghao"/>
        <result column="fadongjihao" property="fadongjihao"/>
        <result column="fadongjipailianggonglv" property="fadongjipailianggonglv"/>
        <result column="ranliaoleibie" property="ranliaoleibie"/>
        <result column="ranyouxiaohao" property="ranyouxiaohao"/>
        <result column="paifangbiaozhun" property="paifangbiaozhun"/>
        <result column="zhuanxiangfangshi" property="zhuanxiangfangshi"/>
        <result column="chemenshezhi" property="chemenshezhi"/>
        <result column="zhouju" property="zhouju"/>
        <result column="chechang" property="chechang"/>
        <result column="chekuan" property="chekuan"/>
        <result column="chegao" property="chegao"/>
        <result column="luntaishu" property="luntaishu"/>
        <result column="chezhoushu" property="chezhoushu"/>
        <result column="gangbantanhuangpianshu" property="gangbantanhuangpianshu"/>
        <result column="dipanxinghao" property="dipanxinghao"/>
        <result column="donglileixing" property="donglileixing"/>
        <result column="zongzhiliang" property="zongzhiliang"/>
        <result column="zhengbeizhiliang" property="zhengbeizhiliang"/>
        <result column="luntaizonglei" property="luntaizonglei"/>
        <result column="xuanguaxingshi" property="xuanguaxingshi"/>
        <result column="xingchezhidongfangshi" property="xingchezhidongfangshi"/>
        <result column="zhidongqiqianlun" property="zhidongqiqianlun"/>
        <result column="zhidongqihoulun" property="zhidongqihoulun"/>
        <result column="abs" property="abs"/>
        <result column="kongtiaoxitong" property="kongtiaoxitong"/>
        <result column="huanshuqi" property="huanshuqi"/>
        <result column="biansuxiangxingshi" property="biansuxiangxingshi"/>
        <result column="zhizhaochangshang" property="zhizhaochangshang"/>
        <result column="gouzhishuizhenghao" property="gouzhishuizhenghao"/>
        <result column="chuchangriqi" property="chuchangriqi"/>
        <result column="leijilicheng" property="leijilicheng"/>
        <result column="zhongduanfuwuqi" property="zhongduanfuwuqi"/>
        <result column="cheliangdengji" property="cheliangdengji"/>
        <result column="weishengjian" property="weishengjian"/>
        <result column="fadongjipailiang" property="fadongjipailiang"/>
        <result column="cheliangwaikuochicun" property="cheliangwaikuochicun"/>
        <result column="ranliaoxiaohaofujian" property="ranliaoxiaohaofujian"/>
        <result column="beizhu" property="beizhu"/>
        <result column="gpsanzhuangshijian" property="gpsanzhuangshijian"/>
        <result column="zhinenghuaxitong" property="zhinenghuaxitong"/>
        <result column="gps" property="gps"/>
        <result column="xingshijiluyi" property="xingshijiluyi"/>
        <result column="zongduanid" property="zongduanid"/>
        <result column="zongduanxinghao" property="zongduanxinghao"/>
        <result column="cheliangzhaopian" property="cheliangzhaopian"/>
        <result column="is_deleted" property="isdel"/>
        <result column="yunshujiezhi" property="yunshujiezhi"/>
    </resultMap>
    <resultMap id="CPResultMap" type="org.springblade.platform.cheliangguanli.entity.VehicleCP">
        <id column="id" property="id"/>
        <result column="cheliangpaizhao" property="cheliangpaizhao"/>
    </resultMap>
    <resultMap id="GPSVehicleResultMap" type="org.springblade.platform.cheliangguanli.entity.VehicleToGps">
        <id column="id" property="id"/>
    </resultMap>
    <resultMap id="GDSVehicleResultMap" type="org.springblade.platform.cheliangguanli.entity.VehicleGDSTJ">
        <id column="id" property="id"/>
    </resultMap>



    <select id="selectByKey" resultMap="vehicleVOResultMap" parameterType="java.lang.String">
        select  a.*, b.dept_name as deptName from  anbiao_vehicle a
            inner join blade_dept b
                on a.dept_id = b.id
            where a.id=#{id}
    </select>

    <select id="selectByCPYS" resultMap="vehicleVOResultMap" parameterType="java.lang.String">
        select
            id,
            cheliangpaizhao,
            chepaiyanse,
            shiyongxingzhi,
            case when ifnull(jiashiyuanxingming,'') = 'null' then '' else ifnull(jiashiyuanxingming,'') end as jiashiyuanxingming,
            case when ifnull(jiashiyuandianhua,'') = 'null' then '' else ifnull(jiashiyuandianhua,'') end as jiashiyuandianhua,
            case when ifnull(yayunyuanxingming,'') = 'null' then '' else ifnull(yayunyuanxingming,'') end as yayunyuanxingming,
            case when ifnull(yayunyuandianhua,'') = 'null' then '' else ifnull(yayunyuandianhua,'') end as yayunyuandianhua,
            case when ifnull(chezhu,'') = 'null' then '' else ifnull(chezhu,'') end as chezhu,
            case when ifnull(chezhudianhua,'') = 'null' then '' else ifnull(chezhudianhua,'') end as chezhudianhua,
            case when ifnull(zongduanxinghao,'') = 'null' then '' else ifnull(zongduanxinghao,'') end as zongduanxinghao,
            case when ifnull(chejiahao,'') = 'null' then '' else ifnull(chejiahao,'') end as chejiahao,
            case when ifnull(changpai,'') = 'null' then '' else ifnull(changpai,'') end as changpai,
            case when ifnull(yunyingshang,'') = 'null' then '' else ifnull(yunyingshang,'') end as yunyingshang,
            case when ifnull(cheliangzhaopian,'') = 'null' then '' else ifnull(cheliangzhaopian,'') end as cheliangzhaopian,
            case when ifnull(zongduanid,'') = 'null' then '' else ifnull(zongduanid,'') end as zongduanid,
            case when ifnull(xinghao,'') = 'null' then '' else ifnull(xinghao,'') end as xinghao,
            case when ifnull(hedingzaike,'') = 'null' then '' else ifnull(hedingzaike,'') end as hedingzaike,
            case when ifnull(yunyingshangmingcheng,'') = 'null' then '' else ifnull(yunyingshangmingcheng,'') end as yunyingshangmingcheng,
            CASE
                WHEN cheliangzhuangtai=0 and ifnull(is_deleted,0) = 0 THEN '在用'
                WHEN cheliangzhuangtai=1 and ifnull(is_deleted,0) = 0 THEN '停用'
                WHEN ifnull(is_deleted,1) = 1 THEN '删除'
            END cheliangzhuangtai
        from
            anbiao_vehicle
        where 1=1
            and cheliangpaizhao=#{cheliangpaizhao}
            and chepaiyanse=#{chepaiyanse}
            and ifnull(is_deleted,0) = 0
            and ifnull(cheliangzhuangtai,0) != 2
            LIMIT 1;
    </select>

    <select id="selectCPYS" resultMap="vehicleVOResultMap" parameterType="java.lang.String">
        select cheliangpaizhao from anbiao_vehicle
        where cheliangpaizhao=#{cheliangpaizhao}
        and chepaiyanse=#{chepaiyanse}
        and ifnull(is_deleted,0) = 0
        and ifnull(cheliangzhuangtai,0) != 2
        LIMIT 1;
    </select>

    <!-- 车辆 删除 -->
    <update id="deleteVehicle" parameterType="java.lang.String" >
         update anbiao_vehicle set is_deleted = 1 , caozuoshijian = NOW()
        WHERE id = #{id}
  </update>

    <!-- 车辆 停用 -->
    <update id="updateVehicleOutStatus" parameterType="java.lang.String" >
         update anbiao_vehicle set cheliangzhuangtai = 1 , caozuoshijian = NOW()
        WHERE id = #{id}
  </update>

    <!-- 车辆 起用 -->
    <update id="updateVehicleSignStatus" parameterType="java.lang.String" >
         update anbiao_vehicle set cheliangzhuangtai = 0 , caozuoshijian = NOW()
        WHERE id = #{id}
  </update>

    <!-- 车辆 报废 -->
    <update id="updateVehicleScrapStatus" parameterType="java.lang.String" >
         update anbiao_vehicle set cheliangzhuangtai = 2 , caozuoshijian = NOW()
        WHERE id = #{id}
  </update>

    <!-- 车辆异动 -->
    <update id="updateDeptId" parameterType="map" >
         update anbiao_vehicle set dept_id = #{deptId} , caozuoshijian = NOW()
         WHERE id = #{id}
  </update>

    <sql id="tableSql">
        SELECT
        a.id,
        a.dept_id,
        cheliangpaizhao,
        chepaiyanse,
        ifnull(shiyongxingzhi,'') as shiyongxingzhi,
        ifnull(changpai,'') as changpai,
        ifnull(xinghao,'') as xinghao,
        ifnull(chejiahao,'') as chejiahao,
        ifnull(yunyingshang,'') as yunyingshang,
        ifnull(yunyingshangmingcheng,'') as yunyingshangmingcheng,
        ifnull(zongduanid,'') as zongduanid,
        b.dept_name as deptName,
        ifnull(cheshenyanse,'') as cheshenyanse,
        ifnull(cheliangzhaopian,'') as cheliangzhaopian,
        ifnull(hedingzaike,'') as hedingzaike,
        ifnull(dengjizhengshubianhao,'') as dengjizhengshubianhao,
        ifnull(qiangzhibaofeishijian,'') as qiangzhibaofeishijian,
        ifnull(jieboyunshuzhenghao,'') as jieboyunshuzhenghao,
        ifnull(yuancheliangpaizhao,'') as yuancheliangpaizhao,
        ifnull(cheliangzhuangtai,'') as cheliangzhuangtai,
        ifnull(danganhao,'') as danganhao,
        ifnull(suoshuchedui,'') as suoshuchedui,
        ifnull(xingshifujian,'') as xingshifujian,
        ifnull(zongzhiliang,'') as zongzhiliang,
        ifnull(beizhu,'') as beizhu,
        ifnull(gpsanzhuangshijian,'') as gpsanzhuangshijian,
        ifnull(zongduanxinghao,'') as zongduanxinghao,
        ifnull(yunshujiezhi,'') as yunshujiezhi,
        ifnull(jiashiyuanxingming,'') as jiashiyuanxingming,
        case when ifnull(caozuoshijian,'') != '' then caozuoshijian
        else createtime
        end as caozuoshijian,
        ifnull(jiashiyuandianhua,'') as jiashiyuandianhua,
        ifnull(yayunyuanxingming,'') as yayunyuanxingming,
        ifnull(yayunyuandianhua,'') as yayunyuandianhua,
        ifnull(chezhu,'') as chezhu,
        ifnull(chezhudianhua,'') as chezhudianhua
        FROM
        anbiao_vehicle a
        inner join  (
        <include refid="org.springblade.platform.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b
        on a.dept_id = b.id
        WHERE 1=1
            and ifnull(a.is_deleted,0) = 0
            and ifnull(cheliangzhuangtai,0) != 2
        <if test="ids !=null and ids != ''and ids == '1'.toString()">
            and a.id in (
            SELECT biaoid from anbiao_jinritixing_jiesuan where IFNULL(isdelete,0)=0 and dept_id = #{deptId} and tongjiriqi = #{tongjiriqi}
            and tixingleixing = #{tixingleixing} and tixingxiangqingid = #{tixingxiangqingid} )
        </if>
    </sql>

    <sql id="querySql">
        <if test="cheliangpaizhao !=null and cheliangpaizhao != ''">
            AND cheliangpaizhao like CONCAT('%',#{cheliangpaizhao},'%')
        </if>

        <if test="zongduanid !=null and zongduanid != ''">
            AND zongduanid like CONCAT('%',#{zongduanid},'%')
        </if>

        <if test="caozuoshijian !=null and caozuoshijian != ''">
            AND caozuoshijian &gt;= #{caozuoshijian}
        </if>

        <if test="deptName !=null and deptName != ''">
            AND deptName like CONCAT('%',#{deptName},'%')
        </if>

        <if test='cheliangleixing !=null and cheliangleixing != ""and cheliangleixing == "1" '>
            AND cheliangpaizhao LIKE '%挂%'
        </if>

        <if test="cheliangleixing !=null and cheliangleixing != ''and cheliangleixing == '2'.toString()">
            AND cheliangpaizhao NOT LIKE '%挂%'
        </if>

        <if test="cheliangzhuangtai !=null and cheliangzhuangtai != '' and cheliangzhuangtai == '0'.toString() ">
            AND ifnull(cheliangzhuangtai,'') = 0
        </if>

        <if test="cheliangzhuangtai !=null and cheliangzhuangtai != '' and cheliangzhuangtai == '1'.toString() ">
            AND ifnull(cheliangzhuangtai,'') = 1
        </if>

    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by cheliangpaizhao
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectVehiclePage" resultMap="vehicleVOResultMap"
            parameterType="org.springblade.platform.cheliangguanli.page.VehiclePage" resultType="org.springblade.platform.cheliangguanli.vo.VehicleVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectVehicleTotal"
            parameterType="org.springblade.platform.cheliangguanli.page.VehiclePage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <select id="selectCL" resultMap="CPResultMap" parameterType="java.lang.String">
        SELECT
        a.id,
        cheliangpaizhao
        FROM
        anbiao_vehicle a
        inner join  (
        <include refid="org.springblade.platform.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b
        on a.dept_id = b.id
        WHERE 1=1
            and ifnull(a.is_deleted,0) = 0
            and ifnull(a.cheliangzhuangtai,0) != 2
        <if test="cheliangpaizhao !=null and cheliangpaizhao != ''">
            AND cheliangpaizhao  LIKE '%${cheliangpaizhao}%'
        </if>
    </select>
    <select id="vehicleDayCount" resultType="int">
            SELECT count(1)
            FROM
	            anbiao_vehicle
        WHERE
	        dept_id = #{deptId}
        AND is_deleted = 0
        and ifnull(cheliangzhuangtai,0) != 2
        AND cheliangpaizhao NOT LIKE '%挂'


    </select>
    <select id="xianzhiVehcleCount" resultType="int">
            SELECT
	        count(1)
	        FROM
		        anbiao_vehicle
	        WHERE
		            dept_id = #{deptId}
	        AND is_deleted = 0
	        and ifnull(cheliangzhuangtai,0) != 2
	        AND cheliangpaizhao NOT LIKE '%挂'
	        AND cheliangzhuangtai = 1
    </select>
    <select id="vehileOne" resultType="org.springblade.platform.cheliangguanli.entity.Vehicle">
        SELECT
            *
        FROM
	        anbiao_vehicle
        WHERE
	        cheliangpaizhao = #{cheliangpaizhao}
        AND chepaiyanse = #{chepaiyanse}
        AND is_deleted=0
        and ifnull(cheliangzhuangtai,0) != 2
        AND  dept_id=#{deptId}
    </select>

    <select id="selectVehicleAll" resultMap="GPSVehicleResultMap" parameterType="java.lang.String" >
        select
        <if test="caozuoshijian !=null and caozuoshijian != ''">
            CASE
            WHEN cheliangzhuangtai=0 and ifnull(a.is_deleted,0) = 0 THEN '在用'
            WHEN cheliangzhuangtai=1 and ifnull(a.is_deleted,0) = 0 THEN '停用'
            WHEN ifnull(a.is_deleted,1) = 1 THEN '删除'
            END cheliangzhuangtai,
        </if>
        a.dept_id as deptId,b.dept_name as deptName,a.simnum,a.zongduanxinghao,a.caozuoshijian,a.createtime,a.id,
        a.cheliangpaizhao,a.chepaiyanse,a.shiyongxingzhi,a.zongduanid
        from anbiao_vehicle a
        inner join blade_dept b on a.dept_id = b.id
        where 1=1
        <if test="caozuoshijian !=null and caozuoshijian != '' ">
            and (a.createtime &gt; #{caozuoshijian} or a.caozuoshijian &gt; #{caozuoshijian})
            and ifnull(cheliangzhuangtai,0) != 2
            order by a.caozuoshijian asc
        </if>

        <if test=" caozuoshijian ==null or caozuoshijian == '' ">
            and ifnull(a.cheliangzhuangtai,0) = 0
            and ifnull(b.is_deleted,0) = 0
            and ifnull(a.is_deleted,0) = 0
        </if>
    </select>


    <select id="selectByYYS" resultMap="GPSVehicleResultMap" parameterType="java.lang.String" >
        select DISTINCT id,yunyingshang from anbiao_vehicle
        where id = #{id}
    </select>

    <select id="selectVehicleColor" parameterType="string"
            resultType="org.springblade.platform.cheliangguanli.vo.VehicleVO">
        select dict_key as chepaiyanse from blade_dict
        where code ='colour'
        and dict_key = #{color}
        and is_deleted = 0
        and dict_key != -1
    </select>

    <insert id="insertSelective" parameterType="org.springblade.platform.cheliangguanli.vo.VehicleVO" >
        insert into anbiao_vehicle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="cheliangpaizhao != null">
                cheliangpaizhao,
            </if>
            <if test="chepaiyanse != null">
                chepaiyanse,
            </if>
            <if test="shiyongxingzhi != null">
                shiyongxingzhi,
            </if>
            <if test="changpai != null">
                changpai,
            </if>
            <if test="chejiahao != null">
                chejiahao,
            </if>
            <if test="yunyingshang != null">
                yunyingshang,
            </if>
            <if test="yunyingshangmingcheng != null">
                yunyingshangmingcheng,
            </if>
            <if test="zongduanid != null">
                zongduanid,
            </if>
            <if test="xinghao != null">
                xinghao,
            </if>
            <if test="jiashiyuanxingming != null">
                jiashiyuanxingming,
            </if>
            <if test="jiashiyuandianhua != null">
                jiashiyuandianhua,
            </if>
            <if test="yayunyuanxingming != null">
                yayunyuanxingming,
            </if>
            <if test="yayunyuandianhua != null">
                yayunyuandianhua,
            </if>
            <if test="chezhu != null">
                chezhu,
            </if>
            <if test="chezhudianhua != null">
                chezhudianhua,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="caozuoren != null">
                caozuoren,
            </if>
            <if test="cheliangzhuangtai != null">
                cheliangzhuangtai,
            </if>
            <if test="caozuorenid != null">
                caozuorenid,
            </if>
            <if test="caozuoshijian != null">
                caozuoshijian,
            </if>
            <if test="isdel != null">
                is_deleted
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="deptId != null">
                #{deptId},
            </if>
            <if test="cheliangpaizhao != null">
                #{cheliangpaizhao},
            </if>
            <if test="chepaiyanse != null">
                #{chepaiyanse},
            </if>
            <if test="shiyongxingzhi != null">
                #{shiyongxingzhi},
            </if>
            <if test="changpai != null">
                #{changpai},
            </if>
            <if test="chejiahao != null">
                #{chejiahao},
            </if>
            <if test="yunyingshang != null">
                #{yunyingshang},
            </if>
            <if test="yunyingshangmingcheng != null">
                #{yunyingshangmingcheng},
            </if>
            <if test="zongduanid != null">
                #{zongduanid},
            </if>
            <if test="xinghao != null">
                #{xinghao},
            </if>
            <if test="jiashiyuanxingming != null">
                #{jiashiyuanxingming},
            </if>
            <if test="jiashiyuandianhua != null">
                #{jiashiyuandianhua},
            </if>
            <if test="yayunyuanxingming != null">
                #{yayunyuanxingming},
            </if>
            <if test="yayunyuandianhua != null">
                #{yayunyuandianhua},
            </if>
            <if test="chezhu != null">
                #{chezhu},
            </if>
            <if test="chezhudianhua != null">
                #{chezhudianhua},
            </if>
            <if test="createtime != null">
                #{createtime},
            </if>
            <if test="caozuoren != null">
                #{caozuoren},
            </if>
            <if test="cheliangzhuangtai != null">
                #{cheliangzhuangtai},
            </if>
            <if test="caozuorenid != null">
                #{caozuorenid},
            </if>
            <if test="caozuoshijian != null">
                #{caozuoshijian},
            </if>
            <if test="isdel != null">
                #{isdel}
            </if>
        </trim>
    </insert>

    <!-- 根据企业ID、车辆牌照、车牌颜色修改相应车辆信息 -->
    <update id="updateSelective" parameterType="org.springblade.platform.cheliangguanli.vo.VehicleVO" >
        update anbiao_vehicle
        <set>

            <if test="shiyongxingzhi != null">
                shiyongxingzhi = #{shiyongxingzhi},
            </if>

            <if test="changpai != null">
                changpai = #{changpai},
            </if>

            <if test="chejiahao != null">
                chejiahao = #{chejiahao},
            </if>

            <if test="yunyingshang != null">
                yunyingshang = #{yunyingshang},
            </if>

            <if test="yunyingshangmingcheng != null">
                yunyingshangmingcheng = #{yunyingshangmingcheng},
            </if>

            <if test="zongduanid != null">
                zongduanid = #{zongduanid},
            </if>

            <if test="xinghao != null">
                xinghao = #{xinghao},
            </if>

            <if test="jiashiyuanid != null">
                jiashiyuanid = #{jiashiyuanid},
            </if>

            <if test="jiashiyuanxingming != null">
                jiashiyuanxingming = #{jiashiyuanxingming},
            </if>

            <if test="jiashiyuandianhua != null">
                jiashiyuandianhua = #{jiashiyuandianhua},
            </if>

            <if test="yayunyuanxingming != null">
                yayunyuanxingming = #{yayunyuanxingming},
            </if>

            <if test="yayunyuandianhua != null">
                yayunyuandianhua = #{yayunyuandianhua},
            </if>

            <if test="yayunyuanid != null">
                yayunyuanid = #{yayunyuanid},
            </if>

            <if test="chezhu != null">
                chezhu = #{chezhu},
            </if>

            <if test="chezhudianhua != null">
                chezhudianhua = #{chezhudianhua},
            </if>

            <if test="cheliangzhuangtai != null">
                cheliangzhuangtai = #{cheliangzhuangtai},
            </if>

            <if test="caozuoren != null">
                caozuoren = #{caozuoren},
            </if>

            <if test="caozuoshijian != null">
                caozuoshijian = #{caozuoshijian},
            </if>

            <if test="caozuorenid != null">
                caozuorenid = #{caozuorenid}
            </if>

        </set>
        where dept_id = #{deptId}
        and cheliangpaizhao = #{cheliangpaizhao}
        and chepaiyanse = #{chepaiyanse}
        and is_deleted = 0
    </update>

    <select id="selectByZongDuan" resultMap="vehicleVOResultMap" parameterType="java.lang.String" >
        select zongduanid from anbiao_vehicle
        where is_deleted = 0
            and ifnull(cheliangzhuangtai,0) != 2
            and zongduanid = #{id}
        group by
            zongduanid
        LIMIT 1
    </select>
    <sql id="tableGDSSql">
        select
        case when IFNULL(b.area,'') = '' then '河南' else b.area end as areaName,
        concat(#{begintime},'至',#{endtime}) as date,
        SUM(b.shu) as xzshu,
        SUM(zyshu) as zyshu,
        SUM(tyshu) as tyshu,
        SUM(scshu) as scshu,
        max(b.shiyongxingzhi) as shiyongxingzhi,
        case when IFNULL(max(b.shiyongxingzhi),'') = '道路货物运输' then SUM(b.shu) end as dlhwxzshu,
        case when IFNULL(max(b.shiyongxingzhi),'') = '道路危险品运输' then SUM(b.shu) end as dlwxpxzshu,
        case when IFNULL(max(b.shiyongxingzhi),'') = '道路旅客运输' then SUM(b.shu) end as dllkxzshu,

        case when IFNULL(max(b.shiyongxingzhi),'') = '道路货物运输' and ifnull(SUM(zyshu),0) &gt; 0 then SUM(b.zyshu) else 0 end as dlhwzyshu,
        case when IFNULL(max(b.shiyongxingzhi),'') = '道路危险品运输' and ifnull(SUM(zyshu),0) &gt; 0 then SUM(b.zyshu) else 0 end as dlwxpzyshu,
        case when IFNULL(max(b.shiyongxingzhi),'') = '道路旅客运输' and ifnull(SUM(zyshu),0) &gt; 0 then SUM(b.zyshu) else 0 end as dllkzyshu,

        case when IFNULL(max(b.shiyongxingzhi),'') = '道路货物运输' and ifnull(SUM(tyshu),0) &gt; 0 then SUM(b.tyshu) else 0 end as dlhwtyshu,
        case when IFNULL(max(b.shiyongxingzhi),'') = '道路危险品运输' and ifnull(SUM(tyshu),0) &gt; 0 then SUM(b.tyshu) else 0 end as dlwxptyshu,
        case when IFNULL(max(b.shiyongxingzhi),'') = '道路旅客运输' and ifnull(SUM(tyshu),0) &gt; 0 then SUM(b.tyshu) else 0 end as dllktyshu,

        case when IFNULL(max(b.shiyongxingzhi),'') = '道路货物运输' and ifnull(SUM(scshu),0) &gt; 0 then SUM(b.scshu) else 0 end as dlhwscshu,
        case when IFNULL(max(b.shiyongxingzhi),'') = '道路危险品运输' and ifnull(SUM(scshu),0) &gt; 0 then SUM(b.scshu) else 0 end as dlwxpscshu,
        case when IFNULL(max(b.shiyongxingzhi),'') = '道路旅客运输' and ifnull(SUM(scshu),0) &gt; 0 then SUM(b.scshu) else 0 end as dllkscshu
        from(
        <include refid="org.springblade.platform.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        )a
        inner JOIN(
        select
        a.dept_id,
        COUNT(1) as shu,
        max(shiyongxingzhi) as shiyongxingzhi,
        CASE WHEN max(cheliangzhuangtai)=0 and ifnull(max(a.is_deleted),0) = 0 THEN 1 end as zyshu,
        CASE WHEN max(cheliangzhuangtai)=1 and ifnull(max(a.is_deleted),0) = 0 THEN 1 end as tyshu,
        CASE WHEN max(cheliangzhuangtai)=2 and ifnull(max(a.is_deleted),0) = 0 THEN 1 end as bfshu,
        CASE WHEN ifnull(max(a.is_deleted),1) = 1 THEN 1 END scshu,
        b.area
        from
        anbiao_vehicle a
        inner join anbiao_organization b on a.dept_id = b.dept_id
        where 1=1
        and b.isdelete = 0
        and ifnull(a.cheliangzhuangtai,0) != 2
        and a.createtime &gt;= #{begintime}
        and a.createtime &lt;= #{endtime}
        GROUP BY
        shiyongxingzhi,
        dept_id,
        b.area
        )b on a.id = b.dept_id
        where 1=1
        GROUP BY
        b.area,
        b.shiyongxingzhi
    </sql>

    <sql id="queryGDSSql">
        <if test="areaName !=null and areaName != '' ">
            and areaName = #{areaName}
        </if>
    </sql>

    <sql id="orderGDSSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by date
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectGDSVehiclePage" resultMap="GDSVehicleResultMap"
            parameterType="org.springblade.platform.cheliangguanli.page.VehiclePage" resultType="org.springblade.platform.cheliangguanli.entity.VehicleGDSTJ">
        <if test="size == 0" >
            select * from (
            <include refid="tableGDSSql" />
            )b
            where 1=1
            <include refid="queryGDSSql" />
            <include refid="orderGDSSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableGDSSql" />
            )b
            where 1=1
            <include refid="queryGDSSql" />
            <include refid="orderGDSSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectGDSVehicleTotal" parameterType="org.springblade.platform.cheliangguanli.page.VehiclePage" resultType="int">
        select COUNT(1) from (
        <include refid="tableGDSSql" />
        )d
        where 1 = 1
        <include refid="queryGDSSql" />
    </select>


    <sql id="tableGDSMXSql">
        select
        case when IFNULL(b.area,'') = '' then '河南' else b.area end as areaName,
        b.dept_id as deptId,
        a.dept_name as deptName,
        b.cheliangpaizhao,
        b.chepaiyanse,
        b.shiyongxingzhi,
        b.cheliangzhuangtai,
        case when ifnull(b.caozuoshijian,'') = '' then b.createtime else b.caozuoshijian end as caozuoshijian,
        a.is_deleted,
        b.caozuoren
        from(
        <include refid="org.springblade.platform.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        )a
        inner JOIN(
        select
        a.dept_id,
        cheliangpaizhao,
        chepaiyanse,
        shiyongxingzhi,
        CASE
        WHEN cheliangzhuangtai=0 and ifnull(a.is_deleted,0) = 0 THEN '在用'
        WHEN cheliangzhuangtai=1 and ifnull(a.is_deleted,0) = 0 THEN '停用'
        WHEN ifnull(a.is_deleted,1) = 1 THEN '删除'
        END cheliangzhuangtai,
        a.caozuoshijian,
        a.createtime,
        a.caozuoren,
        a.is_deleted,
        b.area
        from
        anbiao_vehicle a
        inner join anbiao_organization b on a.dept_id = b.dept_id
        where 1=1
        and b.isdelete = 0
        and ifnull(a.cheliangzhuangtai,0) != 2
        and a.caozuoshijian &gt;= #{begintime}
        and a.caozuoshijian &lt;= #{endtime}
        )b on a.id = b.dept_id
        ORDER BY b.dept_id
    </sql>

    <sql id="queryGDSMXSql">
        <if test="cheliangpaizhao !=null and cheliangpaizhao != ''">
            AND cheliangpaizhao like CONCAT('%',#{cheliangpaizhao},'%')
        </if>

        <if test="deptName !=null and deptName != ''">
            AND deptName like CONCAT('%',#{deptName},'%')
        </if>

        <if test="cheliangzhuangtai !=null and cheliangzhuangtai != '' and cheliangzhuangtai == '新增'.toString() ">
            AND createtime &gt;= #{begintime}
            AND createtime &lt;= #{endtime}
        </if>

        <if test="cheliangzhuangtai !=null and cheliangzhuangtai != '' and cheliangzhuangtai == '在用'.toString() ">
            AND ifnull(cheliangzhuangtai,'') = 0
        </if>

        <if test="cheliangzhuangtai !=null and cheliangzhuangtai != '' and cheliangzhuangtai == '停用'.toString() ">
            AND ifnull(cheliangzhuangtai,'') = 1
        </if>

        <if test="cheliangzhuangtai !=null and cheliangzhuangtai != '' and cheliangzhuangtai == '删除'.toString() ">
            AND ifnull(is_deleted,0) = 1
        </if>

    </sql>
    <sql id="orderGDSMXSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by cheliangpaizhao
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectGDSMXVehiclePage" resultMap="GDSVehicleResultMap"
            parameterType="org.springblade.platform.cheliangguanli.page.VehiclePage" resultType="org.springblade.platform.cheliangguanli.entity.VehicleGDSTJ">
        <if test="size == 0" >
            select * from (
            <include refid="tableGDSMXSql" />
            )b
            where 1=1
            <include refid="queryGDSMXSql" />
            <include refid="orderGDSMXSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableGDSMXSql" />
            )b
            where 1=1
            <include refid="queryGDSMXSql" />
            <include refid="orderGDSMXSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectGDSMXVehicleTotal" parameterType="org.springblade.platform.cheliangguanli.page.VehiclePage" resultType="int">
        select COUNT(1) from (
        <include refid="tableGDSMXSql" />
        )d
        where 1 = 1
        <include refid="queryGDSMXSql" />
    </select>

    <select id="vehileList" resultType="org.springblade.platform.cheliangguanli.entity.Vehicle">
        SELECT
	        cheliangpaizhao,
            chepaiyanse,
            shiyongxingzhi,
            id,
            CASE
                WHEN cheliangzhuangtai=0 and ifnull(is_deleted,0) = 0 THEN '在用'
                WHEN cheliangzhuangtai=1 and ifnull(is_deleted,0) = 0 THEN '停用'
                WHEN ifnull(is_deleted,1) = 1 THEN '删除'
            END cheliangzhuangtai
        FROM
	        anbiao_vehicle
        WHERE 1=1
            AND is_deleted=0
            AND ifnull(cheliangzhuangtai,0) != 2
            AND dept_id= #{deptId}
    </select>

    <!-- 修改车辆终端ID -->
    <update id="updateVehicleZongDuanId" parameterType="java.lang.String" >
         update anbiao_vehicle set zongduanid = #{zongduanid}, caozuoshijian = NOW(),caozuoren=#{caozuoren},caozuorenid=#{caozuorenid}
        WHERE id = #{id}
  </update>

    <resultMap id="BaseResultMap" type="org.springblade.platform.cheliangguanli.entity.CheliangJiashiyuan">
    </resultMap>

    <select id="getVehidAndJiashiyuanId" resultMap="BaseResultMap">
        select * from anbiao_cheliang_jiashiyuan
        where vehid = #{vehid}
            and jiashiyuanid = #{jiashiyuanid}
    </select>

    <insert id="insertVehidAndJiashiyuan" parameterType="org.springblade.platform.cheliangguanli.entity.CheliangJiashiyuan" >
        insert into anbiao_cheliang_jiashiyuan
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="vehid != null">
                vehid,
            </if>
            <if test="jiashiyuanid != null">
                jiashiyuanid,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="type != null">
                type
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="vehid != null">
                #{vehid},
            </if>
            <if test="jiashiyuanid != null">
                #{jiashiyuanid},
            </if>
            <if test="createtime != null">
                #{createtime},
            </if>
            <if test="type != null">
                #{type}
            </if>

        </trim>
    </insert>

    <resultMap id="VehicleGDSTJMap" type="org.springblade.platform.cheliangguanli.entity.VehicleGDSTJ">
    </resultMap>

    <select id="getVehidNumByDeptId" resultMap="VehicleGDSTJMap">
        select dept_id,COUNT(1) as vehicleNum from anbiao_vehicle
        where dept_id = 5587
            and is_deleted = 0
    </select>


</mapper>
